{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}My Projects{% endblock %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                            <li>
                                <a href="{% url 'list_projects' %}">My Projects</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <a href="{% url 'login' %}">Login</a>
                            <li>
                                <a href="{% url 'signup' %}">Sign up!</a>
                            </li>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
